@{
    ViewData["Title"] = "Home";
    ViewData["Footer"] = false;
}

<div class="flex-center" style="height: 100vh;">
    <div class="flex-center" style="background-color: ghostwhite; padding: 15px; height: 100vh">
        <div style="margin-top: 24px">
            <h3 style="text-align: center">    <a asp-action="Index">#RemoteVar</a></h3>
        
            <img src="images/Banner.png" style="box-shadow: 5px 10px #F2F2F3"/>
            <partial name="_HomePageButtonsPartial"/>
        </div>
    
    </div>
</div>